on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

name: Check

permissions:
  contents: read

jobs:
  check:
    name: Run Unit Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
      - name: Run tests
        run: |
          npm ci
          npm test
          npm run all
