---
on:
  push:
    tags:
      # Push events to matching v*, i.e. v1.0, v20.15.10
      - v*

name: Create Release

permissions:
  contents: read

jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@master
      - name: Create Release
        id: create_release
        uses: actions/create-release@latest
        env:
          # This token is provided by Actions, you do not need to create your own token
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          body: |
            See the CHANGELOG for more details on the release.
          draft: false
          prerelease: false
